header {
    background-color: #e8e5e5;
    overflow: hidden;
}

body {
    padding:0;
    margin:0;
}

h1 {
    color: rgba(48, 99, 46, 0.7); 
    font-family: helvetica;
    font-size: 4em;
    text-align: center;
    line-height: 90%;
    text-shadow: 0 0.037em rgba(99, 196, 96, 0.65);
}

h2 {
    background-color: #f2f2f2;
    overflow: hidden;
    color: black;
    font-family: arial;
    font-size: 0.95em;
    text-align: center;
    padding:0;
    margin:0;
} 

#instructions {
   padding: 8px;
}

h3 {
    color: black;
    font-family: arial;
    font-size: 1em;
    text-align: center;
}

h5 {
    color: black;
    font-family: arial;
    font-size: 0.8em;
    text-align: center;
}

textarea {
    width: 800px;
    height: 200px;
}

#clear {
    clear: both;
}

.btn {
    font-size: 12px;
}

.forms {
    position: relative;
    display: inline-block;
}

.dropdown {
    position: relative;
    display: inline-block;
    text-align: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}

.input {
    width: 600px;
}
